{% extends 'base.html' %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block body %}
    <br>
    <h1>WELCOME TO MY PERSONAL BLOG</h1>
    <br>
    <div>
      <div class="bg-light p-5 rounded">
        <div class="col-sm-8 mx-auto">
          <p>Welcome to my personal blog. Just having fun coding in Flask. I am studying cs and this is good exercise </p>
            <p> I have many cool ideas that I want to develop using Flask.</p>
          </p>
        </div>
      </div>
    </div>
{% endblock %}